.logged-in{
  header{
    top:32px;
  }

  @media (max-width:782px){
    header{
      top:46px;
    }
  }
}

header {
  position:fixed;
  z-index:100;
  left:0;
  top:0;
  height: 60px;
  width: 100%;
  background-color: $navy_blue;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.75px;
  @include transition-property(height);
  @include transition-duration(200ms);
  @include transition-timing-function(ease-in-out);

  &.active{
    height:100%;
    overflow:hidden;
    @include transition-property(height);
    @include transition-duration(400ms);
    @include transition-timing-function(ease-in-out);
  }

  .logo {
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: 60px;
    display: inline-block;
    vertical-align: baseline;
    line-height: 60px;

    &:hover {
      color: $orange;
    }
  }

  .menu {
    font-weight: 500;
    display: inline-block;
    text-align: right;
    float: right;
    height: 60px;
    line-height: 60px;

    > #menu-header_menu {
      list-style-type: none;

      > li {
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        line-height:59px;
        height:60px;
        cursor:pointer;

        &:hover {
          background-color: $orange;
        }

        &:last-of-type{
          text-align:left;
          position:relative;

          &:hover{
            ul{
              display:block;
            }
          }

          ul{
            display:none;
            position:absolute;
            right:0;
            top:60px;
            text-align:right;
            background-color:$navy_blue;

            li{
              display:block;
              line-height:1;

              a{
                padding:15px;
                display:block;
                color:white;
                text-decoration:none;
                cursor:pointer;

                &:hover{
                  background-color:$orange;
                }
              }
            }
          }
        }

        > a {
          text-decoration: none;
          font-size: 18px;
          color: white;
          display:block;
        }
      }

      > .menu-item-has-children{
        > a{
          &:after {
            content: '\25bc';
            font-size: 8px;
            position: relative;
            left: 7px;
            bottom: 1px;
          }
        }
      }
    }
  }

  @media (max-width:880px){
    .logo{
      font-size:17px;
    }

    .menu>#menu-header_menu>li>a{
      font-size:16px;
    }
  }

  @media (max-width:768px){
    .logo{
      font-size:16px;
    }

    .menu{

      &.active{

        > #menu-header_menu{
          background-color:$navy_blue_opaque;
          display:block;
          position:absolute;
          z-index:90;
          height:100%;
          width:100%;
          left:0;
          top:0;
          @include display-flex;
          @include flex-direction(column);
          // @include justify-content(space-around);
          // position: absolute;
          // left: 0;
          // text-align:left;

          > li{
            &:first-of-type{
              margin-top:10vh;
            }

            >a{
              font-size:20px;
              text-align:center;
            }
            &:last-of-type{
              padding:0;
              height:0;
              > a{
                display:none;
              }
              //
              ul{
                background-color:transparent;
                width:100%;
                display:block;
                top:0;

                li{
                  a{
                    font-size:20px;
                    text-align:center;
                  }
                }
              }
            }
          }
        }
      }
      .mobile-toggle{
        position: absolute;
        right: 20px;
        z-index: 100;
        height:60px;
        width:45px;
        cursor:pointer;
        margin: 0 0 0 auto;

        &:hover{
          span{
            background-color:$orange;
          }
        }

        span{
          display:block;
          height:5px;
          width:100%;
          background-color:white;
          position:relative;

          &:nth-of-type(1){ top:14px; }
          &:nth-of-type(2){ top:22px; }
          &:nth-of-type(3){ top:30px; }
        }
      }
      > #menu-header_menu{
        display:none;
      }
    }

  }
  @media (max-width:480px){
    .logo{
      width: 147px;
      white-space: nowrap;
      overflow-x: hidden;
    }

    .menu .mobile-toggle{
      width:40px;

      span{
        height:4px;

        &:nth-of-type(1){ top:17px; }
        &:nth-of-type(2){ top:25px; }
        &:nth-of-type(3){ top:33px; }
      }
    }
  }
  // @media (max-width:)
}
