
section.hero_banner{
	font-family:"bebas_neuebold", sans-serif;
	max-height:600px;
	height:547px;
	background-size:cover;
	position:relative;

	.barker_content{
	    position: absolute;
	    z-index: 15;
	    width: 100%;
	    height:100%;
	    text-align: center;
	    color: white;
	    text-transform: uppercase;
	    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.60);

	    h1{
	    	letter-spacing: 5px;
        font-size: 138px;
        margin-top: 182px;
        padding: 0 30px;
	    }

	    h2{
		    font-size: 3.5rem;
		    letter-spacing: 5px;
		    position: relative;
		    bottom: 10px;
        padding:0 30px;
	    }
	}

	.hero_banner_overlay{
		height:100%;
		width:100%;
		background-color:$blue;
		@include opacity(0.75);
		position:absolute;
		z-index:10;
	}

	figure{
		img{
			height: 100%;
			position: relative;
			right: 15%;
		}
	}

  @media (max-width:1400px){
    height:445px;

    .barker_content{
      h1{
        margin-top:140px;
        font-size:100px;
        line-height:90px;
      }
      h2{
        bottom:-20px;
        font-size:55px;
      }
    }
  }

  @media (max-width:1046px){
    .barker_content{
      h1{
        margin-top:95px;
      }
    }
  }

  @media (max-width:768px){
    height:290px;

    .barker_content{
      h1{
        font-size:50px;
        line-height:50px;
        margin-top:97px;
      }
      h2{
        font-size:35px;
        bottom:-10px;
      }
    }
  }

  @media (max-width:600px){
    .barker_content{
      h1{
        font-size: 40px;
        line-height: 1;
        margin-top: 105px;
        letter-spacing: 2px;
      }
      h2{
        font-size:30px;
      }
    }
  }

  @media (max-width:480px){
    height:220px;

      .barker_content{
        h1{
          margin-top:82px;
          font-size:25px;
          letter-spacing:1.5px;
        }
        h2{
          font-size:20px;
          letter-spacing:1.5px;
        }
      }
  }
}
