section.section2{
	width:100%;
	height:680px;
		
	.section2_background{
    height: inherit;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    background-color: $princeton;

   		.texture{
   			height:inherit;
   			@include blendy('light_noise.png', $princeton, multiply);
   		}
	}

	.section-wrapper{
		margin:0 auto;
		display:flex;
		position:absolute;
		z-index:10;
		padding:$top_paddings 0;
	}

	.worthy_consul{ order:3; margin:0 15px; }
	.senior_tribune{ order:4; margin:50px 15px; }
	.junior_tribune{ order:2; margin:50px 15px; }
	.quaestor{ order:5; margin:100px 0 0 15px; height: 350px;}
	.rush_chair{ order:1; margin:100px 15px 0 0; height: 350px;}

	figure{
		display:inline-block;
		height:350px;

		img{
	    border: 10px solid white;
	    border-radius: 200px;
	    background-color: white;
	    box-shadow: 0 5px 2px 2px rgba(74, 74, 74, 0.3);
	    display: block;
	    margin: 0 auto;
	    height: 180px;
		}

		figcaption{
			font-family:'open_sansregular', sans-serif;
			display:block;
	    text-align: center;
      margin-top: 25px;
      color:white;
      font-weight:100;
      letter-spacing:1px;
			
			span{
				display:block;

				&:last-of-type{
					margin-top:2px;
				}
			}

			hr{
				width:50%;
				display:inline-block;
		    border: 1px solid white;
		    margin:10px 0;
			}
		}
	}

	.white_crest{
		position:absolute;
		height:0;
		width:$section2wrapperwidth;
		
		img{
			position:relative;
			height:150px;
			left:490px;
			top: 430px;
		}

    .exec_board{
		  text-align: center;
		  height:0;
    	
    	h3{
	    	font-family:'open_sansregular', sans-serif;
	    	color: white;
	    	display:inline-block;
	    	position:relative;
	    	top:390px;
	    	font-size:30px;	
    	}
    }
	}

  @media #{$xlarge} {
  	height:675px;

  	.worthy_consul{ margin: 0 5px; }
		.senior_tribune,.junior_tribune{ margin: 50px 5px; }
		.quaestor{ margin: 100px 0 0 5px; }
		.rush_chair{ margin: 100px 5px 0 0; }
  	figure img{ height:164px; }
  	.white_crest img{left: 410px;top: 415px;}
  	.white_crest .exec_board h3{right: 80px;top: 370px;}
  }
  @media #{$large} {
  	height:770px;

  	.section-wrapper{
  		padding:130px 0 60px;
  	}

  	.officer_wrapper{ width: 600px; margin: 0 auto;}
  	.worthy_consul{order:3;}
  	.senior_tribune{order:5;}
		.junior_tribune{order:1;}
		.quaestor{order:4;}
		.rush_chair{order:2;}

		.quaestor, .rush_chair{margin: 200px 0 0;width: 9px;position: relative;right: 85px;top: 100px; height:0px;}
		.quaestor figcaption, .rush_chair figcaption{width: 184px;}
		.senior_tribune,.junior_tribune{margin:0px 5px;}

		.white_crest{
  		width:600px;
  		
  		img{
  			display:none;
  		}

  		.exec_board h3{
  			right: 0px;top: -70px;
  			&:before{
  				content: '\2014\00a0\00a0';	
  			}
  			&:after{
  				content: '\00a0\00a0\2014';
  			}
  		}
  	}
	}

	@media #{$xmedium} {
		height:1080px;

		.section-wrapper,.white_crest{width:560px;}

		.officer_wrapper{ width: 600px; margin: 0 auto;}
  	.worthy_consul{order:1; margin: 0 10px 0 90px;}
  	.senior_tribune{order:2;}
		.junior_tribune{
			order:3;    position: absolute;
    	top: 440px; left: 85px;
    }
		.quaestor{
			order:5;		position: absolute;
    	top: 240px;	left: 290px;
  	}
		.rush_chair{
			order:4;		position: absolute;
   		top: 540px;	left: 190px;
   	}
	}

	@media #{$_560px} {
		.section-wrapper,.white_crest{ width:480px; }

		.worthy_consul{margin: 0 10px 0 48px;}
		.junior_tribune{ left: 43px;}
		.quaestor{ left: 246px;}
		.rush_chair{ left: 147px; }
	}
	@media #{$small} {
		.section-wrapper,.white_crest{ width:360px; }
		.worthy_consul{margin: 0 10px 0 -12px;}
		.junior_tribune{ left:-17px;}
		.quaestor{ left: 186px;}
		.rush_chair{ left: 87px; }
	}
	@media #{$between_sxs} {
		height:1690px;

		.section-wrapper{display:block;}
		
		figure figcaption hr{
			width:150px;
		}
		
		.worthy_consul,.senior_tribune,.junior_tribune,.quaestor,.rush_chair{
			height:284px;
			display:block;
			margin:0;
			left:initial;
			top:initial;
			position:static;
			width:inherit;
			top:initial;

			figcaption{
				width:inherit;
			}
		}
		
		.senior_tribune,.junior_tribune,.quaestor,.rush_chair{
			margin-top:20px;
		}
		.white_crest .exec_board h3 {
			top:initial;
	    right: 0px;
	    bottom: 1570px;
	  }
	}

	@media #{$xsmall} {
		.section-wrapper,.white_crest{ width:320px; }
		.white_crest .exec_board h3{
			font-size:28px;
		}
	}
}














