@import "universal";
@import "mixins";
@import "breakpoints";
@import "../fonts/opensans_lightitalic_macroman/stylesheet.css";
@import "../fonts/opensans_regular_macroman/stylesheet.css";
@import "../fonts/opensans_semibold_macroman/stylesheet.css";

body,html{
	background-color:#e8e6e4;
	overflow-x:hidden;
}

.page-wrapper{
	width:$page_wrapper_default;
	margin:0 auto;

	@media #{$xlarge} {
		width:944px;
	}
	@media #{$large} {
		width:752px;
	}
	@media #{$medium} {
		width:663px;
	}
	@media #{$xmedium} {
		width:545px;
	}
	@media #{$_560px} {
		width:464px;
	}
	@media #{$small} {
		width: 345px;
	}
	@media #{$xsmall} {
		width: 305px;
	}
}

.text_divider{
  width: 40%;
  border-top: 2px solid black;
  margin: 0 auto;
}

#page{
	overflow-y:hidden;
	overflow-x:hidden;
}

@import "header";
@import "hero_banner";
@import "section1";
@import "section2";
@import "section3";
@import "section4";
@import "section5";
@import "footer";