@import
  "compass/reset",
  "compass/css3",
  "fonts",
  "colors";

html,body{
  font-family:'Open Sans';
}

.wrapper{
  width: 95%;
  max-width:1600px;
  display:block;
  margin:0 auto;
}

.logged-in{
  #page{
    position:fixed;
    top:92px;
    left:0;
    height:100%;
    width:100%;

    @media (max-width:782px){
      top:106px;
    }
  }
}

#page{
  position:fixed;
  top:60px;
  left:0;
  height:100%;
  width:100%;
}

@import
  "header",
  "hero-banner";
